@font-face {
  font-family: 'PressStart2P';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-Variable';
  src: url(./Inter-Variable.woff2) format('woff');
  font-weight: 410;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Variable';
  src: url(./Inter-Variable.woff2) format('woff');
  font-weight: 715;
  font-display: swap;
}