.page {
  background-image: repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  width: var(--content-width);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-inline: auto;
  border: var(--border);
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.main__title {
  padding-bottom: 20px;
  font-family: var(--accent-font);
  font-size: 49px;
  text-align: center;
  text-transform: uppercase;
  font-variation-settings: wght 400;
}

.main__subtitle {
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-variation-settings: wght 400;
}

.card {
  display: block;
  box-sizing: border-box;
  margin-bottom: 50px;
  border: var(--border);
  background-color: #ffffff;
}

.card__image__container {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
}

.brightness_filter {
  filter: brightness(250%);
}

.contrast_filter {
  filter: contrast(220%);
}

.grayscale_filter {
  filter: grayscale(0.9);
}

.saturate_filter {
  filter: saturate(200%);
}

.hue-rotate_filter {
  filter: hue-rotate(-45deg);
}

.sepia_filter {
  filter: sepia(90%);
}

.hue-rotate_sepia_filter {
  filter: hue-rotate(-33deg) sepia(30%);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__title,
.card__text {
  display: block;
  font-family: var(--main-font);
  font-size: 18px;
}

.card__title {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.22;
  font-variation-settings: wght 715;
}

.card__text {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  font-variation-settings: wght 410;
}

.contour {
  transition: fill 0.1s 0s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main_body {
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .core {
  fill: var(--animation_hover_color);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main_body {
  fill: var(--animation_hover_color);
  transition: fill 0s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main_body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main_body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: large_heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: add_sparks 0.3s 0.3s ease-in;
}

.card__icon-button:focus-visible {
  border-color: #000000;
  border-radius: 0;
  outline: none;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-variation-settings: wght 400;
}

.card__like-button.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.button {
  position: relative;
  border: var(--border);
  overflow: hidden;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
  margin-bottom: 24px;
  padding-right: 25px;
}

.card__icon-button,
.card__like-button {
  background-color: transparent;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding-top: 0;
  transition: border 0.3s ease;
}

.card__like-button {
  width: 130px;
  padding-top: 6px;
  text-align: center;
}

.save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 100px;
  margin-left: 33px;
  padding: 15px 19px;
  background-color: #ffffff;
}

.submit__button {
  grid-column: 1 / -1;
  width: 100%;
  padding: 10px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background: transparent;
}

.dialog {
  position: fixed;
  inset: 0;
  max-width: 341px;
  margin: auto;
  border: var(--border);
  padding: 30px;
  background-color: #ffffff;
}

.dialog[open] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dialog::backdrop {
  background-color: rgba(0 0 0/0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.dialog__title {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-variation-settings: wght 400;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button__text,
.save__button svg {
  position: relative;
  z-index: 1;
  color: #ffffff;
  mix-blend-mode: difference;
}

@media (width > 375px) {
  .main__title {
    font-size: 65px;
  }

  .main__subtitle {
    font-size: 23px;
  }

  .header {
    margin-top: 98px;
    margin-bottom: 96px;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .card {
    max-width: var(--content-width);
    margin-inline: auto;
  }

  .card__title {
    margin-bottom: 4px;
  }

  .card__text {
    margin-top: 25px;
  }

  .card__image {
    max-height: 700px;
  }

  .save__button {
    flex-direction: row;
    justify-self: center;
    margin-left: 0;
    padding: 15px 17px;
  }

  .save__button svg {
    width: 21px;
    height: 21px;
  }

  .dialog {
    max-width: 353px;
  }
}
