/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  width: var(--content-width);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-inline: auto;
  border: 2px solid #000000;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.main__title,
.main__subtitle {
  font-family: var(--accent-font);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.main__title {
  padding-bottom: 20px;
  font-size: 49px;
}

.main__subtitle {
  font-size: 14px;
}

.card {
  width: var(--content-width);
  margin-bottom: 50px;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.card__image__container {
  position: relative;
}

.card__image,
.second__card__image,
.third__card__image,
.fourth__card__image,
.fifth__card__image,
.sixth__card__image,
.seventh__card__image,
.eighth__card__image {
  width: 100%;
  border: 2px solid #000000;
}

.second__card__image {
  filter: brightness(250%);
}

.third__card__image {
  filter: contrast(220%);
}

.fourth__card__image {
  filter: grayscale(0.9);
}

.fifth__card__image {
  filter: saturate(200%);
}

.sixth__card__image {
  filter: hue-rotate(-45deg);
}

.seventh__card__image {
  filter: sepia(90%);
}

.eighth__card__image {
  filter: hue-rotate(-33deg) sepia(30%);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__title,
.card__text {
  font-family: var(--main-font);
  font-size: 18px;
}

.card__title {
  margin: 5px 10px;
  font-weight: 715;
}

.card__text {
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  font-weight: 415;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__icon-button,
.card__like-button {
  background-color: transparent;
}

.card__icon-button {
  border: none;
}

.card__icon-button:focus {
  border: 2px solid #000000;
  border-radius: 0;
}

.card__like-button {
  border: 2px solid #000000;
  cursor: pointer;
}

.card__like-button__text {
  padding: 10px 35px;
  font-family: var(--accent-font);
  font-size: 14px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
}

.save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 100px;
  margin-left: 33px;
  border: 2px solid #000000;
  padding: 15px 20px;
  background-color: #ffffff;
  cursor: pointer;
}

.dialog {
  position: fixed;
  inset: 0;
  max-width: 341px;
  margin: auto;
  border: 2px solid #000000;
  padding: 30px;
  background-color: #ffffff;
}

.dialog[open] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dialog::backdrop {
  background-color: rgba(0 0 0/0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.submit__button {
  grid-column: 1 / -1;
  width: 100%;
  border: 2px solid #000;
  padding: 10px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.dialog__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.card__like-button,
.save__button,
.submit__button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus,
.save__button:focus,
.submit__button:focus {
  box-shadow: 2px 2px 0 0 #000;
  outline: none;
}

.card__like-button::before,
.save__button::before,
.submit__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__like-button:hover::before,
.save__button:hover::before,
.submit__button:hover::before {
  transform: translateX(0);
}

@media (width >= 1440px) {
  .main__title {
    font-size: 65px;
  }

  .main__subtitle {
    font-size: 23px;
  }

  .header {
    margin-bottom: 93px;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .card {
    display: block;
    justify-self: center;
  }

  .card__text {
    margin-top: 17px;
  }

  .save__button {
    flex-direction: row;
    justify-self: center;
    margin-left: 0;
    padding: 15px 17px;
  }

  .save__button svg {
    width: 21px;
    height: 21px;
  }

  .dialog {
    max-width: 353px;
  }
}
